.playerMainShell {
	font-family: sans-serif;
}
.playerMainShell.breakpoint1 #seekBarAndSwitch {
	background: #DD1B23;
	height: 41px;
	margin-left: 60px;
}
.playerMainShell #seekBarShell {
	padding-left: 0;
}
.playerMainShell.breakpoint1 #videoButtons {
	background: #DD1B23;
	padding: 0;
	height: 41px;
	margin-left: 171px;
}
.playerMainShell .subtitlesLayout2 .overlayBtn {
	width: 60px;
	height: 41px;
	left: 0;
	bottom: 0px;
	margin: 0;
	top: auto;
	top: initial;
	background: #DD1B23;
	border-radius: 0;
}
.playerMainShell .subtitlesLayout2 .overlayBtn svg {
	transform: scale(0.4,0.4);
	-ms-transform: scale(0.4,0.4);
	-moz-transform: scale(0.4,0.4);
	-webkit-transform: scale(0.4,0.4);
}
.playerMainShell .overlayBtn .circle {
	display: none;
}
.playerMainShell #seekBarShell .seekBarLine div {
  height: 100%;
  top: 0;
}
.playerMainShell #seekBarShell .seekNonElapsed .seekBarLine div {
  border-radius: 0 3px 3px 0;
  background: white;
}
.playerMainShell #seekBarShell .seekElapsed .seekBarLine div {
  border-radius: 3px 0 0 3px;
}
.playerMainShell #seekBarShell .seekBarIndex {
  display: none;
}
.playerMainShell #seekBarThumbCircle {
  display: none;
}
.playerMainShell .seekBarTimeInfo {
	display: block;
	height: 16px;
	padding: 1px 2px;
}
.playerMainShell .seekElapsed .seekBarTimeInfo {
	background: PARAM_skinButtonForeground;
	color: #FFF9F4;
}
.playerMainShell .seekNonElapsed .seekBarTimeInfo {
	background: white;
	color: #DD1B23;
}
.playerMainShell #seekBarCursor {
	visibility: hidden;
}
.playerMainShell #previewImageShell {
	bottom: 41px;
}
.playerMainShell #previewImageTime {
	background: #DD1B23;
	bottom: 100%;
}
.playerMainShell #previewImageTimeText {
	background: none;
	color: #ffcc00;
}
.playerMainShell #previewImageShell {
  padding: 0;
  background: #DD1B23;
}
.playerMainShell #settingsShell,
.playerMainShell #newWindowShell {
	display: none !important;
}
.playerMainShell.settingsLayout1 #settingsDiv {
	display: block;
	right: 72px;
	bottom: 0;
	background: #DD1B23;
	border-radius: 0;
	width: 171px;
}
.playerMainShell.replayScreenActive.settingsLayout1 #settingsDiv {
	display: none;
}
.playerMainShell #settingsContent {
	padding: 0;
}
.playerMainShell.settingsLayout1 .settingsElement {
	display: inline-block;
	padding: 0 5px;
}
.playerMainShell.settingsLayout1 #settingsSubtitles,
.playerMainShell.settingsLayout1 #settingsAudio {
	margin-top: 0;
	display: none;
}
.playerMainShell #settingsHbbtv,
.playerMainShell #hbbTvShell {
	display: none;
}
.playerMainShell #rightColumn {
	padding-left: 0;
}
.playerMainShell.settingsLayout1 #settingsAudio .settingsSelectorList,
.playerMainShell.settingsLayout1 #settingsSubtitles .settingsSelectorList,
.playerMainShell.settingsLayout1 #settingsSubtitles .settingsSelectorList.manyListItems {
  bottom: initial;
  top: 0;
}
.playerMainShell .settingsSelectorShell .value::before {
	content: '(';
}
.playerMainShell .settingsSelectorShell .value::after {
	content: ')';
}
.playerMainShell .settingsSelectorShell .value:empty::before {
	content: '';
}
.playerMainShell .settingsSelectorShell .value:empty::after {
	content: '';
}
.playerMainShell #settingsQuality .value {
	font-size: inherit;
	padding: 0 0 0 3px;
}
.playerMainShell .settingsElementTitle {
	display: none;
}
.playerMainShell.smallControlsIcons .settingsElementArrows,
.playerMainShell.largeControlsIcons .settingsElementArrows {
  display: block;
  position: absolute;
  top: 17px;
  right: initial;
  left: 4px;
}
.playerMainShell .settingsSelectorPlaceholder {
  display: block;
}
.playerMainShell .settingsSelectorList {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.playerMainShell.smallControlsIcons .listItem,
.playerMainShell.smallControlsIcons .listItem.selectedListItem,
.playerMainShell.largeControlsIcons .listItem,
.playerMainShell.largeControlsIcons .listItem.selectedListItem {
	background: #DD1B23;
	border: none;
	margin: 0;
	color: white;
	width: 140px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    padding-left: 20px;
	line-height: 36px;
	height: 35px;
}
.playerMainShell .listItem:hover,
.playerMainShell .listItem.selectedListItem:hover {
	color: #ffcc00;
}
.playerMainShell .listItem:first-child{
  border-radius: 0;
}
.playerMainShell .listItem:last-child{
  border-radius: 0;
}
.playerMainShell .settingsElementArrows .arrowUp,
.playerMainShell .settingsElementArrows .arrowDown {
	fill: white;
}
.playerMainShell .settingsSelector:hover .settingsElementArrows .arrowUp,
.playerMainShell .settingsSelector:hover .settingsElementArrows .arrowDown {
	fill: #ffcc00;
}
.playerMainShell #volumeShell {
	float: right;
}
.playerMainShell.breakpoint1 #volumeBarShell {
  background: #DD1B23;
  height: 80px;
  border-radius: 0; 
}

.playerMainShell #totalTimeInfo {
	display: none;
}
.playerMainShell #gradientShell,
.playerMainShell #gradientShell2 {
	display: none;
}
.playerMainShell #loadingOverlay #loadingAnimationCircle,
.playerMainShell #loadingOverlay #loadingAnimationBar {
	display: none;
}
.playerMainShell #errorOverlay #errorIcon svg {
	width: initial;
	height: initial;
	fill: white;
	stroke: 1px solid white;
}
.playerMainShell #errorOverlay #errorLine1,
.playerMainShell #errorOverlay #errorLine2,
.playerMainShell #errorOverlay #errorButtonsShell {
	display: none;
}
.playerMainShell #volumeBar {
	margin: 2px 0;
}
.playerMainShell #volumeBarThumb {
	display: none;
}
.playerMainShell #volumeBarTrack,
.playerMainShell #volumeBarFilledTrack {
  width: 10px;
}
.playerMainShell *:focus {
	outline: none;
	outline-offset: 0;
}
.playerMainShell #timeShiftButtons {
	display: none;
}